body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFC0CB;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.care-package img {
    width: 150px; /* Set the desired width */
    height: auto;
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    color: #555;
    line-height: 1.6;
}

@media (max-width: 600px) {
    .care-package img {
        width: 100px; /* Adjust for smaller screens */
        margin: 5px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

/* Background for the first page */
body.first-page {
    background: url('images/hearts.jpg') no-repeat center center fixed;
    background-size: cover;
}
